bucket = "terraform-state"
key    = "terraform.tfstate"

endpoint = "http://127.0.0.1:9000"

access_key = ""
secret_key = ""

region                      = "main"
skip_credentials_validation = true
skip_metadata_api_check     = true
skip_region_validation      = true
force_path_style            = true