proxmox_config = {
  proxmox_api_url  =
  proxmox_user     =
  proxmox_password =
  proxmox_ip       =
  proxmox_ssh_user =
}

# talos kubernetes cluster
talos = {
  "version" = "v1.4.4"
  "worker_count" = 3
  "master_ip"    =
  "worker_ip"    =  []
}

nfs_k8s_storage = {
  nfs_path = "/home/devops/nfs_share"
  nfs_server = "127.0.0.1"
}

k8s_addons = {
  istio_version     = "1.19.3"
  kong_version      = "2.29.0"
  elk_version       = "2.9.0"
  fluentbit_version = "0.39.0"
  kube-prom_version = "48.3.1"
}
