proxmox_config = {
  proxmox_api_url  =
  proxmox_user     =
  proxmox_password =
  proxmox_ip       =
  proxmox_ssh_user =
}

# pfsense
pfsense = {
  "version" = "2.5.2"
}

# talos kubernetes cluster
talos = {
  "version" = "v1.4.4"
  "worker_count" = 3
  "master_ip"    =
  "worker_ip"    =  []
}


